.profile {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}
.user_image > img {
  width: 7em;
  height: auto;
  margin-bottom: 50px;
}
.user_info {
  display: flex;
  flex-direction: column;
}

.profile_css > p {
  color: #2f2e41;
  font-size: 1.1em;
}
.profile_css_name {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.profile_css_name > i {
  color: #5273eb;
  padding-right: 10px;
}
.profile_css_name > p {
  color: black;
  font-size: 1.2em;
}

.about_leader {
  width: 100%;
  height: auto;
}
.profile_button {
  outline: none;
  border-radius: 20px;
  padding: 5px 70px 5px 70px;
  background-color: #5273eb !important;
  color: white;
  border: none;
}
.business_info {
  margin-top: 50px;
}
.left_leave_home {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 0;
}
.right_leave {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 10vw !important;
  height: auto;
}
