.remainder_main {
  overflow-y: scroll;
  height: 70vh;
}
.remainder_main > h3 {
  font-weight: lighter;
}
.remainder_icon {
  width: 40%;
  float: right;
}
.financeCard {
  padding: "30px";
  border: "1px solid black";
  min-width: 10vw;
  margin: "10px";
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}
