.remainder_main {
  display: flex;
  flex-direction: row;
  
}
.remainder_main > h3 {
  font-weight: lighter;
}
.remainder_icon{
  width: 40%;
  float: right;
}
.financeCard{
  padding: "30px";
  border: "2px solid black";
  min-width: 10vw;
  margin:'10px';
  /* display: contents; */
  box-sizing: border-box;
}
.remainderCardsView{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
