.header_lists {
  display: flex;
  list-style-type: none;
  margin: 0 !important;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-right: 5px;
  padding: 10px;
  background-color: white;
  /* box-shadow: #5374eb 0px 0.5px 2px 0px; */
  /* background-color: #5273eb; */
  /* margin-top: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-bottom: 1px solid #393e46; */
}
.logo {
  width: 40px;
  height: auto;
}
.header_link > a {
  /* color: white; */
  color: #393e46;
  font-size: 20px;
}
.header_link > a:hover {
  color: #393e46;
  text-decoration: none;
}
