.image {
  width: 25vw;
}
.displaying {
  border: 1px black solid;
  margin: 5px;
  min-width: 15vw;
}
.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.buttonUpdate {
  padding: 0 !important;
}
.cards_container {
  margin-left: 10px;
  display: contents;
}
.cards_container .card {
  padding: 12px;
  width: 300px;
}
.inventoryItem {
  padding: 10px;
  min-width: 15vw;
}
.buttonStyle {
  float: right;
}

.inventoryItem .card .card-body {
  padding: 0px;
}

.inpIcon {
  margin: 10px;
}
.inventoryCardHeader {
  display: flex;
}
.inventoryCardHeader text {
  margin-top: 10px;
  width: 75px;
}
.inventoryCheckbox {
  margin-left: auto;
}
@media only screen and (max-width: 600px) {
  .buttonStyle {
    float: unset !important;
  }
}
