.profile {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}
.profile_img {
  position: absolute;
  z-index: -1;
  top: 15%;
  width: 7em;
  height: auto;
}
.user_info {
  display: flex;
  flex-direction: column;
}

.profile_css > p {
  color: #2f2e41;
  font-size: 1.1em;
}
.profile_css_name {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.profile_css_name > i {
  color: #5273eb;
  padding-right: 10px;
}
.profile_css_name > img {
  color: #5273eb;
  padding-right: 10px;
  font-size: smaller;
}
.profile_css_name > p {
  color: black;
  font-size: 1.2em;
}

.about_leader {
  width: 100%;
  height: auto;
}
.profile_button {
  outline: none;
  border-radius: 10px;
  background-color: #2f2e41;
  color: white;
  border: none;
}

@media only screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
}
